/* k_res.rc
 * Resources for the KiNO_Win32 GUI
 * 
 * Copyright (C) George Koskeridis 2016
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation, either version 3 of the License, or
 * (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
  ****************/


#pragma code_page(65001) //unicode codepage

#include <windows.h>
#include <winnt.h>
#include <commctrl.h>
#include <richedit.h>
#include "resource.h"

#include "locale_resources/locale_ids.h"



1 RT_MANIFEST "KiNO_Win32.exe.manifest"
IDI_KINOWIN32_ICON ICON "KiNO_Win32.ico"
IDB_KINO_LOGO BITMAP "KiNO_Win32_logo.bmp"


IDD_ABOUT_DLG DIALOG 0, 0, 362, 161
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION ""
FONT 8, "Ms Shell Dlg"
{
    GROUPBOX        "", IDT_LIBRARIES_TEXT, 11, 95, 150, 60, 0, WS_EX_LEFT
    CTEXT           "", IDT_DESCRIPTION_TEXT, 185, 101, 110, 24, SS_CENTER, WS_EX_LEFT
    CONTROL         IDB_KINO_LOGO, 0, WC_STATIC, SS_BITMAP, 10, 7, 344, 81, WS_EX_LEFT
    PUSHBUTTON      "OK", IDOK, 313, 97, 34, 57, 0, WS_EX_LEFT
    CTEXT           "(c) 2016 All rights reserved", 0, 198, 144, 84, 9, SS_CENTER, WS_EX_LEFT
}


IDD_DOWNLOADING_DLG DIALOG 0, 0, 275, 76
STYLE DS_3DLOOK | DS_ABSALIGN | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP
EXSTYLE WS_EX_OVERLAPPEDWINDOW
CAPTION ""
FONT 8, "Ms Shell Dlg"
{
    CONTROL         "", IDC_PROGRESS_BAR, PROGRESS_CLASS, 0, 15, 12, 245, 48, WS_EX_LEFT
}


IDD_MAIN_DLG DIALOG 0, 0, 412, 304
STYLE DS_3DLOOK | DS_CENTER | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_GROUP | WS_TABSTOP | WS_THICKFRAME | WS_SYSMENU
EXSTYLE WS_EX_COMPOSITED
CAPTION "KiNO_Win32"
FONT 10, "Liberation Serif"
{
    CONTROL         "", IDC_CALENDAR, MONTHCAL_CLASS, WS_TABSTOP | MCS_MULTISELECT, 4, 6, 125, 91, WS_EX_CLIENTEDGE
    EDITTEXT        IDC_FIRSTLOTTERY_EDIT, 137, 21, 113, 12, NOT WS_BORDER | ES_AUTOHSCROLL | ES_NUMBER, WS_EX_STATICEDGE
    EDITTEXT        IDC_LASTLOTTERY_EDIT, 137, 64, 113, 12, NOT WS_BORDER | ES_AUTOHSCROLL | ES_NUMBER, WS_EX_STATICEDGE
    EDITTEXT        IDC_LOTTERIESFROMEND_EDIT, 327, 22, 20, 12, NOT WS_BORDER | ES_AUTOHSCROLL | ES_NUMBER, WS_EX_STATICEDGE
    PUSHBUTTON      "", IDB_DOWNLOAD_AND_PROCESS_LOTTERIES_BUTTON, 274, 63, 126, 14, 0, WS_EX_LEFT
    GROUPBOX        "", ID_FIRSTLOTTERY_GRPBOX, 130, 10, 126, 29, 0, WS_EX_LEFT
    EDITTEXT        IDC_LOTTERY_DATA_PRINT, 12, 106, 388, 180, WS_HSCROLL | WS_VSCROLL | NOT WS_BORDER | ES_AUTOHSCROLL | ES_AUTOVSCROLL | ES_MULTILINE | ES_READONLY | ES_WANTRETURN, WS_EX_CLIENTEDGE
    GROUPBOX        "", ID_LASTLOTTERY_GRPBOX, 130, 53, 126, 29, 0, WS_EX_LEFT
    LTEXT           "", ID_STATTEXT_PREV, 280, 23, 45, 9, SS_LEFT, WS_EX_LEFT
    LTEXT           "", ID_STATTEXT_LOTT, 349, 23, 33, 9, SS_LEFT, WS_EX_LEFT
}


IDD_SETTINGS_DLG DIALOG 0, 0, 460, 219
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
EXSTYLE WS_EX_TOOLWINDOW
CAPTION ""
FONT 10, "Liberation Serif"
{
    AUTOCHECKBOX    "", IDC_SAVEDOWNLOADED_CHECK, 11, 10, 90, 25, BS_MULTILINE | BS_FLAT, WS_EX_LEFT
    AUTOCHECKBOX    "", IDC_SAVEPROCESSED_CHECK, 11, 41, 88, 25, BS_MULTILINE | BS_FLAT, WS_EX_LEFT
    AUTOCHECKBOX    "", IDC_MULTITHREADED_CHECK, 34, 92, 63, 8, BS_FLAT, WS_EX_LEFT
    EDITTEXT        IDC_MAXTHREADS_EDIT, 33, 125, 62, 12, ES_AUTOHSCROLL | ES_NUMBER, WS_EX_LEFT
    DEFPUSHBUTTON   "OK", IDOK, 17, 167, 49, 14, 0, WS_EX_LEFT
    PUSHBUTTON      "", IDCANCEL, 17, 188, 49, 14, 0, WS_EX_LEFT
    PUSHBUTTON      "", IDB_CUSTOM_LOTTERY_GROUPS, 73, 162, 36, 43, BS_CENTER | BS_MULTILINE, WS_EX_LEFT
    CONTROL         "", IDT_LOTTERYGROUP_TABS, WC_TABCONTROL, TCS_TABS, 131, 4, 322, 209, WS_EX_STATICEDGE
    CONTROL         "", IDL_TICKETNUMS_LV, WC_LISTVIEW, WS_TABSTOP | WS_BORDER | LVS_ALIGNLEFT | LVS_ICON | LVS_SHOWSELALWAYS, 133, 18, 249, 192, WS_EX_LEFT
    GROUPBOX        "", IDT_DOWNLOADTHREADS_TEXT, 10, 73, 107, 78, 0, WS_EX_LEFT
    CTEXT           "", IDT_MAXTHREADS_TEXT, 16, 110, 94, 9, SS_CENTER | SS_CENTERIMAGE, WS_EX_LEFT
    LTEXT           "", 0, 9, 74, 8, 1, SS_LEFT, WS_EX_LEFT
    PUSHBUTTON      "", IDB_RESET_LOTTERY_GROUPS, 390, 25, 53, 40, BS_CENTER | BS_VCENTER | BS_MULTILINE, WS_EX_DLGMODALFRAME
    PUSHBUTTON      "", IDB_RANDOM_LOTTERY_GROUPS, 389, 80, 55, 20, BS_CENTER | BS_VCENTER | BS_MULTILINE, WS_EX_DLGMODALFRAME
}



